.icon-players{
    z-index: -2;
    width: 92%;
    display: flex;
    position: absolute;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    img{
        width: 80px;
    }
}
